//
//  debug.xcconfig
//  SwiftUI-MVVM-Project-Structure
//
//  Created by Chhan Sophearath on 5/2/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


PRODUCT_BUNDLE_IDENTIFIER = com.rath.CoreStructure

APP_NAME = SwiftUI

APP_ICON = AppIcon1

BASE_URL = https:/$()/jsonplaceholder.typicode.com/

API_KEY = AIzaSyAm5BMkEHnbOcVm1jtMHLUGCSJz4xvJ6s4-debug-tyu

APP_VERSION = 2.2.2

APP_BUILD = 9
