//
//  debug.xcconfig
//  SwiftUI-MVVM-Project-Structure
//
//  Created by Chhan Sophearath on 5/2/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


// MARK: - for test pagination
BUNDLE_ID = com.rath.CoreStructure-iOS

APP_NAME = SwiftUI Release

APP_ICON = AppIconRelese

BASE_URL = https:/$()/jsonplaceholder.typicode.com/

API_KEY = AIzaSyAm5BMkEHnbOcVm1jtMHLUGCSJz4xvJ6s4-Release

APP_VERSION = 1.0.0

APP_BUILD = 1
