//
//  debug.xcconfig
//  SwiftUI-MVVM-Project-Structure
//
//  Created by Chhan Sophearath on 5/2/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

//BASE_URL = https:/$()/auth-test-flax-one.vercel.app/api/
BASE_URL = https:/$()/auth-test-flax-one.vercel.app/api/



