<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933447722691-p682cejlbsj2mn637lunvremb57ai5d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933447722691-p682cejlbsj2mn637lunvremb57ai5d2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>933447722691-acs32vg7rpaign3gt0fii39nnm86c8rc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSXrwu6JBuY6VfJfjCcXDdOp2PqIwbGbk</string>
	<key>GCM_SENDER_ID</key>
	<string>933447722691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bvmpetroleum.anupheap.uat</string>
	<key>PROJECT_ID</key>
	<string>anupheap-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>anupheap-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:933447722691:ios:4282b6a256431b71e3e476</string>
</dict>
</plist>
